{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Contact Us!</h2>
                <hr>
            </div>
        </div>

<form action="/contact/" method="post">
    {% csrf_token %}
    {% for field in form %}
        {% if field.name != 'image' %}
            {{ field | as_crispy_field }}
        {% else %}
            {{ field }}
        {% endif %}
    {% endfor %}
    <input type="submit" value="Submit">
 </form>

