{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">You have contacted us!</h2>
                <h5 class="text-muted">Congrats, we will contact you back shortly.</h5>
                <hr>
            </div>
        </div>
        {% endblock %}