{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">About us and Health Info</h2>
                <h5 class="text-muted">Scroll down to Like this article:
                <hr>
                <p>Oregano Oil is antibacterial, antiviral and antifungal. It is a powerful antioxidant, anti-inflammator, antidiabetic, and have even been proven to suppress cancer.</p>
                <p>Types of conditions that Oregano Oil can treat is very wide. It can be both used internally and exteriorly. Everything respitory illments to skin rashes.</p>
                <p>It has also been proven to aid menstrual cramps, diahherra, stomach problems, urinary track problems. </p>
                <img src="{% static 'images/butterfly.jpg' %}" class="rounded float-right" alt="butterfly on oregano">
                <p>There are three specific components in Oregano Oil. Firstly there is Carvacrol. The most abundant phenol in oregano, it has been proven to stop the growth of several different types of bacteria.Secondly there is Thymol, this is a natural antifungal which can support the immune system and protect against toxins. Then lastly but not least there is Rosmarinic acid. This powerful antioxidant helps protect against damage caused by free radicals. </p>
                <p>Oregano Oil has more benefits than most fruits or veggies, this is due to its immense antioxidants, due to high amounts of Phenol.</p>
            </div>
            <a><rel href = "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6152729/"></rel></a>
        </div>
        
        <strong>
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'likes' %}">
                    {% csrf_token %}

                    <button style="background-color: transparent; border: none; box-shadow: none;" type="submit"><i class="far fa-thumbs-up fa-3x"></i> <span>{{ likes.all.count }}</span></button>
                </form>
                <p>Total likes: {{ instance.likes.count }}</p>
         </strong>
     </div>
     <strong>
        <div class="d-flex flex-row">
            <form method="POST" action="{% url 'dislikes' %}">
                {% csrf_token %}

                <button style="background-color: transparent; border: none; box-shadow: none;" type="submit"><i class="far fa-thumbs-down fa-3x"></i> <span>{{ dislikes.all.count }}</span></button>
            </form>
        
     </strong>
 </div>
 {% endblock %}