{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">About us and Health Info</h2>
                <h5 class="text-muted">Read below:</h5>:</h5>
                <hr>
            </div>
        </div>
        <strong>
            <form action="" method="POST">
              {% csrf_token %}
            {% if request.user.is_authenticated %}
              {% if post_is_liked %}
              <button type="submit" name="InfoLike" value="{{object.id}}" class="btn btn-info">Unlike</button>
              {% else %}
              <button type="submit" name="InfoLike" value="{{object.id}}" class="btn btn-info">Like</button>
              {% endif %}
            </form>
            {% else %}
            <a class="btn btn-outline-info" href="">Log in to like this article!</a><br>
            {% endif %}
            <strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
            And we are done!
         </strong>
     </div>
 {% endblock %}