{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
    <h2 class = "logo-font mb-4">{{ testimonial.title}}</h2>
    <hr>
    <p class = "text-muted">Description: {{ testimonial.description }}</p>
    <p class = "text-muted">Price: {{ testimonial.price }}</p>
            <a class = "btn btn-black rounded-0" href="{% url 'create_testimonial' %}">Create</a>
            <a class = "btn btn-black rounded-0" href ="{%url 'update_testimonial' testimonial.id %}">Update</a>
            <a class = "btn btn-black rounded-0" href ="{%url 'delete_testimonial' testimonial.id %}">Delete</a>
     </div> 
    </div>
    {% endblock %}
    
        