{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">{{ form.instance.title|default:"New Testimonials" }}</h2>
                <h5 class="text-muted">Write you testimonial below, be sure to fill out all fields:</h5>
                <hr>
            </div>
        </div>
    </div>
    {% if messages %}
  {% for message in messages %}
    <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">
      </button>
      <strong>{{message}}</strong>
    </div>
 {% endfor %}
{% endif %}
        <div class="row">
            <img src="/media/images/oregano-2662890_1280.jpg" class="rounded float-right" alt="oregano garden stone">
            <div class="col-12 col-md-6">
                <form method="POST" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}

                    <div class="text-right">
                        <button class="btn btn-black rounded-0"  type="submit">Submit</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}