{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Testimonials</h2>
                <p>We are so happy to hear your experiences!</p>
                <h5 class="text-muted">See Testimonials:</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                
                <a type="submit" href="{% url 'CreateTestimonials' %}" >Create Testimonial</a>
                
            </div>
        </div>
        {% endblock %}
        




