{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!-- images.html -->
<form method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Product name">
    <input type="submit" value="Search">
  </form>
  
  {% if images %}
    {% for image in images %}
      <img src="{{ image.image.url }}" alt="{{ image.product.name }}">
    {% endfor %}
  {% else %}
    <p>No images found.</p>
  {% endif %}